[Unit]
Description=MBot Follow Service
After=network.target

[Service]
Type=simple
User=mbot
WorkingDirectory=/home/mbot/mbot_ws/mbot_vision
Environment=PYTHONPATH=/usr/local/lib/python3.11/site-packages:/usr/local/lib/python3/dist-packages
ExecStart=/usr/bin/python3 /home/mbot/mbot_ws/mbot_vision/apriltag_follower.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 